.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: rgba(50, 50, 50, 0.6);
}

.modalContainer {
  position: relative;
  border-radius: 5px;
  background: white;
  width: 50%;
  margin: 0 auto;
  padding: 25px;
}

.modalContainer .close-button {
  position: absolute;
  top: -5px;
  right: -5px;
  margin: 18px;
  font-size: 1.5rem;
}

.modalContainer .bi-x-circle {
  color: #656565;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}

.modalTitle {
  text-align: center;
  color: black;
  background-color: white;
}

.modalContent {
  background: white;
  text-align: center;
}

.editTask form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editTask input {
  flex-grow: 1;
  padding: 5px 5px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 18px;
}

.editTask .update {
  background-color: #8603ba;
  color: #FFFFFF;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.editTask .cancel {
  background-color: #ababab;
  color: #FFFFFF;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.editTask .flex-h {
  gap: 7px;
}