.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: rgba(50, 50, 50, 0.6);
}

.modalContainer {
  border-radius: 5px;
  background: white;
  width: 50%;
  margin: 0 auto;
  padding: 25px;
}

.modalContainer .bi-x-circle {
  color: #656565;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.modalTitle {
  text-align: center;
  color: black;
  background-color: white;
}

.modalContent {
  background: white;
  text-align: center;
}